<section class="content-header">
    <h1>
      Company
      <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Company</li>
    </ol>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-md-6">
        <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Company List</h3>
              <div class="box-tools"><a [routerLink]="['/Company']" class="btn btn-default"><i class="fa fa-plus"></i></a></div>
            </div>
            <div class="box-body">
              <table class="table table-bordered">
                <tr>
                  <th style="width: 10px">#</th>
                  <th>Company</th>                  
                </tr>
              </table>
            </div>
        </div>
      </div>
    </div>
  </section>