<div class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a href="#"><b>Cargo</b>Express</a>
  </div>
  <div class="login-box-body">
    <!-- <p class="login-box-msg">Sign in to start your session</p> -->
    <div class="alert" [ngClass]="{'alert-danger': success === false, 'alert-info' : success === true}">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4><i class="icon fa fa-info"></i> info!</h4>
        {{message}}
      </div>
    <form name="form" novalidate>
      <div class="form-group has-feedback">
        <input type="text" class="form-control" #username="ngModel"  [ngModelOptions]="{standalone: true}"  placeholder="username" [(ngModel)]="model.username" name="username">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" #password="ngModel"  [ngModelOptions]="{standalone: true}" placeholder="Password" [(ngModel)]="model.password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" (click)="login()" class="btn btn-primary btn-block btn-flat">Sign In</button>
        </div>
      <!-- /.col -->
      </div>
    </form>
  </div>
</div>
</div>