<section class="content-header">
  <h1>
    Company
    <small>Control panel</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Company</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-4">
     <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Company List</h3>
          <div class="box-tools"><a [routerLink]="['/Companylist']" class="btn btn-default"><i class="fa fa-arrow-left"></i></a></div>
        </div>
        <div class="box-body">
          <form name="form" novalidate>
            <div class="form-group has-feedback">
              <label for="exampleInputEmail1">Company Name</label>
              <input type="text" class="form-control" name="companyName">
              <span class="glyphicon glyphicon-book form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                  
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                  <button type="submit" class="btn btn-primary btn-block btn-flat"><i class="fa fa-save"></i></button>
                </div>
              <!-- /.col -->
              </div>
          </form>
        </div>
     </div>
    </div>
  </div>
</section>